INCLUDE("app_common.cfg");
INCLUDE("tecsgen.cfg");

#include "ev3.h"
#include "app.h"

DOMAIN(TDOM_APP) {
    CRE_TSK(MAIN_TASK, { TA_ACT, 0, main_task, MAIN_PRIORITY, STACK_SIZE, NULL });
    CRE_TSK(DIRECT_PWM_TASK, { TA_NULL, 0, direct_pwm_task, DIRECT_PWM_PRIORITY, STACK_SIZE, NULL });

    CRE_CYC(DIRECT_PWM_TASK_CYC, { TA_NULL, { TNFY_ACTTSK, DIRECT_PWM_TASK }, DIRECT_PWM_PERIOD, 0 });
}

ATT_MOD("app.o");
